body{
    background-color: grey;
    font-family: "Poetsen One";
    text-align: center;

    margin-top: 10em;
}
#myText{
    font-size: 5em;
}
#myLabel{
    font-size: 3.5em;
}
#myInput{
    border-radius: 2px;
    border: solid;
    width: 800px;
    height: 140px;
    font-size: 5em;
    text-align: center;

}
.button:hover{
    background-color: rgb(184, 180, 180);
}
.button{
    background-color: rgb(255, 252, 252);
    border-radius: 2em;
    padding: 2px;
    font-size: 1em;
    width: 240px;
    height: 35px;
    cursor: pointer;
}
